:root {
  --color-primary: #00ffc8;

  --color-red: #ff4343;

  --color-dark: #0e0e0e;
  --color-light: #ffffff;

  --color-light-grey-1: #f2f2f2;
  --color-light-grey-2: #e0e0e0;
  --color-light-grey-3: #dbdbdb;

  --color-dark-grey-1: #b6b6b6;
  --color-dark-grey-2: #7d7d7d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
